/*
 * Purely for wireframing
*/
body {
    position:relative;
    z-index: 1;
}
div, header, footer, #wrapper {
    border:1px solid #ccc;
}
header, footer {
    height:150px;
}
#wrapper {
    padding:5px;
    width:1090px;
    margin: auto;
    position:relative;
    z-index: 10;
}
#content {
    height:300px;
}
